/* Availabe fonts 
 * serif (hook at the end): Times New Roman, Palatino, 
 * sans-serif (no hook at the end): Arial, Helvetica, sans-serif, Verdana 
 */

 /* Style type for all elements */

footer {
    font-family: "Palatino";
    font-size: 15px;
}


/* Get rid of horizontal scroll */
body {
    overflow-x: hidden;
}

* {
    list-style-type: none;
}

header a:hover {
    text-decoration: none;
    color: white;
}

section a:hover {
    text-decoration: none;
}

header li:hover, h1:hover {
    background-color: #222;
}
 
/* Style nav bar glyphicon */
.glyphicon {
    margin-right: 8px;
}

header {
    padding: 5px 0px;
    position: absolute;
    top: -5px; /*display nav bar correctly*/
}


header a {
    color: white;
}

header .row {
    /*scrolling nav bar*/
    position: fixed;
    width: 100%;
    z-index: 10; /*put nav bar above everything else*/

    display: flex;
    align-items: center;
    margin-bottom: 20px; 
    background-color: rgb(55, 55, 55);
}

/* Style Name on Nav Bar */
header h1 {
    font-size: 30px;
    margin: 0px;
    margin-left: 100px;
    color: white;
    font-weight: bold;
    padding: 15px;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: flex-end;
    color: white;
    margin-right: 50px;
}

/* Style items on nav bar */
header li {
    /*margin-left: 20px;
    margin-right: 5px;*/
    padding: 18px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    font-weight: bold;
}

.jumbotron {
    display: flex;
    background-image: url("../img/cover/cover-original copy.jpeg"); 
    background-size:cover;
    height: 600px;
    margin-top: 10px;
    margin-right: -30px;
}

/* Style intro box */
.jumbotron #intro {
    /* dimensions */
    padding: 20px;
    border-radius: 2px; 
    height: 280px;
    width: 700px;
    margin-top: 300px;
    margin-left: 135px;
    /* style */
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
}

/* style of current project, contact, and current home*/
.current {
    padding-top: 110px;
    padding-bottom: 80px;
    background-color: rgb(239, 239, 239);
    margin: -30px;
}

.current #projects {
    padding: 10px 30px 20px 30px;
    border-top: 3.5px solid rgb(255, 153, 153);
    background-color: white;
    border-radius: 2px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 350px;
}

.current #projects h4:first-child {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.current #projects #project-1 h4 {
    margin-bottom: 5px;
    border-bottom: none;
    padding-bottom: 0px;
}

#project-1 {
    padding-top: 20px;
}

#project-1 li {
    list-style: disc;
    padding-top: 5px;
    margin-top: 5px;
}

.find-me-on {
    padding: 10px 20px 10px 20px;
    border-top:3.5px solid rgb(51, 153, 255);
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.find-me-on h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.find-me-on .icons {
    padding-left: 20px;
}

.find-me-on li {
    display: inline-flex;
    padding: 10px 6px 10px 6px;
}

.find-me-on img {
    display: inline;
    width: 40px;
    height: 40px;
}

.find-me-on p {
    padding-top: 5px;
}

.current-home {
    padding: 10px 20px 10px 20px;
    margin-top:20px;
    border-top:3.5px solid rgb(0, 153, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.current-home h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.current-home img {
    width: 25px;
    height: 25px;
    margin: 5px;
}

/* Style Experience Box */
.experience {
    padding-top: 40px;
    padding-bottom: 100px;
    background-color: rgb(239, 239, 239);
    margin-right: -30px;
    margin-left: -35px;
}

.experience .container {
    border-top: 3.5px solid rgb(0, 0, 153);
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px 30px 30px 30px;
}

.experience h3 {
    padding: 0px 0px 20px 0px;
    border-bottom: 2px solid grey;
}
        
.details li {
    display: inline; 
    color: grey;
}

.experience .description ul {
    margin-top: 10px;
    margin-left: 0px;
}

.experience .description li {
    list-style: disc;
    margin-top: 5px;
}

.experience-1, .experience-2 {
    padding: 10px;
    border-bottom: 1px solid grey; 
}

.experience-3 {
    padding: 10px;
}

.experience-1 img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    float: inherit;
}

.experience-2 img {
    width: 120px;
    height: 33px;
    float: inherit;
}

.experience-3 img {
    width: 150px;
    height: 37px;
}

/* Icon of experience organization */
#date-and-picture {
    text-align: right;
    float: right;
    color: grey;
    padding-top: 10px;
}

footer {

    padding: 40px;
    margin: 0px 20px;
    text-align: center;
    background-color: rgb(55, 55, 55);
    color: white;
}
