.project {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 350px;
    height: 450px;
    margin: 25px;
    margin-left: 32px;
}

/* On mouse-over, add a deeper shadow */
.project:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.gallery {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 100px;
}

.gallery .container {
    padding: 10px 16px;
}

.gallery a {
    color: rgb(255, 128, 0);
    font-weight: bold;
    font-size: 15px;
}

.gallery a:hover {
    color: rgb(255, 178, 102);
}

img {
    width: 350px;
    height: 350px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    background-color: white;
}

.project-description {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    margin: 0 auto;
    transform: translate(0%, -200%); /* so that description lines up with image */
    padding: 1px 22px;
}

/* Adjusting proxy and malloc description to line up with others*/
.proxy {
    margin-top: 25px;
}

.malloc {
    margin-top: 100px;
}

.project:hover img {
    opacity: 0.1;
}

.project:hover .project-description {
    /*background-color: black;*/
    opacity: 1;
}

footer {
    background-color: rgb(55, 55, 55);
    color: white;
    padding-top: 40px;
}